<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Security System</title>
	<meta name="description" content="Blueprint: A basic template for a responsive multi-level menu" />
	<meta name="keywords" content="blueprint, template, html, css, menu, responsive, mobile-friendly" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="favicon.ico">
	<!-- food icons -->
	<link rel="stylesheet" type="text/css" href="static/css/organicfoodicons.css" />
	<!-- demo styles -->
	<link rel="stylesheet" type="text/css" href="static/css/demo.css" />
	<!-- menu styles -->
	<link rel="stylesheet" type="text/css" href="static/css/component.css" />
	<script src="static/js/modernizr-custom.js"></script>


  <script src="static/js/Chart.min.js"></script>
	<script src="static/js/utils.js"></script>
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>


</head>

<body>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<header class="bp-header cf">
			<div class="dummy-logo">
				<!-- <div class="dummy-icon foodicon foodicon--coconut"></div> -->
        <h2 class="dummy-heading">Home Security </h2>
				<h2 class="dummy-heading"> Harish </h2>
			</div>
			<div class="bp-header__main">
				<span class="bp-header__present">Home Security System: Administration Panel</span>
				<h1 class="bp-header__title">A Prototype</h1>

			</div>
		</header>

		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level" tabindex="-1" role="menu" aria-label="All">
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-2" aria-owns="submenu-2" href="#">About</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-1" aria-owns="submenu-1" href="#">Monitor</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" data-submenu="submenu-3" aria-owns="submenu-3" href="#">Administration</a></li>
				</ul>
				<!-- Submenu 1 -->
				<ul data-menu="submenu-1" id="submenu-1" class="menu__level" tabindex="-1" role="menu" aria-label="Monitor">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="/video_stream">Video Stream</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="/sensors">Sensors</a></li>
				</ul>

				<!-- Submenu 2 -->
				<ul data-menu="submenu-2" id="submenu-2" class="menu__level" tabindex="-1" role="menu" aria-label="Help">
					<li class="menu__item" role="menuitem"><a class="menu__link" href="/scope">Scope </a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="/system_arc">System Architecture</a></li>
					<li class="menu__item" role="menuitem"><a class="menu__link" href="/contact_me">Contact Me</a></li>
				</ul>

				<!-- Submenu 3 -->
				<ul data-menu="submenu-3" id="submenu-3" class="menu__level" tabindex="-1" role="menu" aria-label="Administration">
					<!-- <li class="menu__item" role="menuitem"><a class="menu__link" href="#">change Creds</a></li> -->
					<li class="menu__item" role="menuitem"><a class="menu__link" href="/logout">LogOut</a></li>
				</ul>

			</div>
		</nav>



		<div class="content">

      <div class="charts">
        <!-- <div style="width:75%; "> -->
      		<canvas id="canvas"></canvas>
      	<!-- </div> -->
      	<br>
      </div>

  	</div>




  </div>
	<!-- /view -->
	<script src="static/js/classie.js"></script>
	<script src="static/js/dummydata.js"></script>
	<script src="static/js/main.js"></script>
	<script>
	(function() {
		var menuEl = document.getElementById('ml-menu'),
			mlmenu = new MLMenu(menuEl, {
				// breadcrumbsCtrl : true, // show breadcrumbs
				// initialBreadcrumb : 'all', // initial breadcrumb text
				backCtrl : false, // show back button
				// itemsDelayInterval : 60, // delay between each menu item sliding animation
				//onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
			});

		// mobile menu toggle
		var openMenuCtrl = document.querySelector('.action--open'),
			closeMenuCtrl = document.querySelector('.action--close');

		openMenuCtrl.addEventListener('click', openMenu);
		closeMenuCtrl.addEventListener('click', closeMenu);

		function openMenu() {
			classie.add(menuEl, 'menu--open');
			closeMenuCtrl.focus();
		}

		function closeMenu() {
			classie.remove(menuEl, 'menu--open');
			openMenuCtrl.focus();
		}

		// simulate grid content loading
		var gridWrapper = document.querySelector('.content');

		function loadDummyData(ev, itemName) {
			ev.preventDefault();

			closeMenu();
			gridWrapper.innerHTML = '';
			classie.add(gridWrapper, 'content--loading');
			setTimeout(function() {
				classie.remove(gridWrapper, 'content--loading');
				gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
			}, 700);
		}
	})();
	</script>


  <script>
		var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var config = {
			type: 'line',
			data: {
				labels: ['-05:00', '-04:30', '-04:00', '-03:30', '-03:00', '-02:30', '-02:00', '-01:30', '-01:00', '-00:30', 'now'],
				datasets: [{
					label: 'Temprature',
					backgroundColor: window.chartColors.yellow,
					borderColor: window.chartColors.yellow,
					data: [
						{{ TEMP_DATA[0] }},
						{{ TEMP_DATA[1] }},
						{{ TEMP_DATA[2] }},
            {{ TEMP_DATA[3] }},
						{{ TEMP_DATA[4] }},
						{{ TEMP_DATA[5] }},
						{{ TEMP_DATA[6] }},
            {{ TEMP_DATA[7] }},
            {{ TEMP_DATA[8] }},
						{{ TEMP_DATA[9] }},
						{{ TEMP_DATA[10] }}
					],
					fill: false,
				}
        , {
					label: 'Smoke',
					fill: false,
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: [
          {{ SMOKE_DATA[0] }},
          {{ SMOKE_DATA[1] }},
          {{ SMOKE_DATA[2] }},
          {{ SMOKE_DATA[3] }},
          {{ SMOKE_DATA[4] }},
          {{ SMOKE_DATA[5] }},
          {{ SMOKE_DATA[6] }},
          {{ SMOKE_DATA[7] }},
          {{ SMOKE_DATA[8] }},
          {{ SMOKE_DATA[9] }},
          {{ SMOKE_DATA[10] }}
					],
				}
        ]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Sensor Reading'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Value'
						}
					}]
				}
			}
		};
		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
	</script>



</body>

</html>
